<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="false"/>
    <!--推送平台测试-->
    <!--<add key="AppKey" value="2c01a1d6af63ffb94fa69377"/>
    <add key="MasterSecret" value="c3617a84ef0dfa36f7491787"/>-->
    <!--接口正式-->
    <add key="AppKey" value="b991f4796656ebf053d32a1d"/>
    <add key="MasterSecret" value="2042542b6460196ab2af61f0"/>
    <add key="SPAppKey" value="6a5b3ca8e11364ceee5cfab3"/>
    <add key="SPMasterSecret" value="6544d616216f678500c424ac"/>
    <!--列表默认值-->
    <add key="PageSize" value="500"/>
    <add key="CurrentPage" value="1"/>
    <!--上传图片标准大小-->
    <add key="standardImageWidth" value="1280"/>
    <add key="standardImageHeight" value="960"/>
    <!--上传图片缩略图大小-->
    <add key="thumbnailImageWidth" value="80"/>
    <add key="thumbnailImageHeight" value="80"/>
    <!--学校编码-->
    <add key="schoolCode" value="SC1100009000"/>
    <!--softwareupgradeurl-->
    <add key="softwareupgradeurl" value="http://192.168.1.129/attachment/control/EEECCUpdate-1.apk"/>
    <!--softwareinstallerurl-->
    <add key="softwareinstallerurl" value="http://192.168.1.129/attachment/control/EEECCInstaller-1.apk"/>
  </appSettings>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="server=.;database=ECCDB;uid=sa;pwd=EastElite123"/>
  </connectionStrings>
  <system.web>
    <pages validateRequest="false"/>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151" executionTimeout="3600" useFullyQualifiedRedirectUrl="true"/>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1024000000"/>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="POST"/>
        <add name="Access-Control-Allow-Headers" value="content-type"/>
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <add value="login.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EastEliteICMSWSSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://202.119.81.147:8001/EastEliteICMSWS.asmx" binding="basicHttpBinding" bindingConfiguration="EastEliteICMSWSSoap" contract="EastEliteICMSWS.EastEliteICMSWSSoap" name="EastEliteICMSWSSoap"/>
    </client>
  </system.serviceModel>
</configuration>